{% extends "layout.html" %}
{% block title %}Comments{% endblock %}

{% block content %}

<div class="tweet-card p-3 mb-3 bg-white rounded-4 shadow-sm">
    <strong>{{ tweet.user.username }}</strong>
    <p>{{ tweet.text }}</p>

    {% if tweet.photo %}
        <img src="{{ tweet.photo.url }}" class="img-fluid rounded-3 mb-2">
    {% endif %}
</div>

<h5 class="mt-4">Comments</h5>

{% for comment in comments %}
    {% include "tweets/comment_item.html" with comment=comment tweet=tweet %}
{% endfor %}

<form method="POST" class="mt-4">
    {% csrf_token %}
    <textarea name="text" class="form-control mb-3" placeholder="Add a comment"></textarea>
    <button class="btn btn-secondary">Comment</button>
</form>

{% endblock %}
