{% extends "layout.html" %}
{% block title %}Delete Tweet{% endblock %}

{% block content %}

<h4 class="mb-3">Delete this tweet?</h4>

<div class="p-3 bg-white rounded-3 border mb-3">
    <p>{{ tweet.text }}</p>

    {% if tweet.photo %}
        <img src="{{ tweet.photo.url }}" class="img-fluid rounded-3 mt-2">
    {% endif %}
</div>

<form method="POST">
    {% csrf_token %}
    <button class="btn btn-danger">Confirm Delete</button>
    <a href="{% url 'tweet_list' %}" class="btn btn-secondary ms-2">Cancel</a>
</form>

{% endblock %}
